# Test IE functions

In [ ]:
#| hide
from nbdev.showdoc import show_doc

%load_ext autoreload
%autoreload 2

In [ ]:
#| output: false
import numpy as np
import tempfile
from pandas import DataFrame
from pathlib import Path
import pandas as pd

from spannerlib.span import Span
from spannerlib.session import Session,test_session

In [ ]:
def yield_range(num: int):
        for i in range(num):
            yield i,

def yield_range_span_no_tuple(num: int):
        for i in range(num):
            yield Span(0, i),
    
def yield_range_str(num: int):
    for i in range(num):
        yield "string" + str(i),


test_session(
    [
        """
        test_range(X) <- yield_range(5) -> (X)
        ?test_range(X)
        """,
        """
        test_range_span(X) <- yield_range_span(5) -> (X)
        ?test_range_span(X)
        """,
        """
        test_range_str(X) <- yield_range_str(5) -> (X)
        ?test_range_str(X)
        """,
    ],
    [
        pd.DataFrame({'X':range(5)}),
        pd.DataFrame({'X':[Span(0,0),Span(0,1),Span(0,2),Span(0,3),Span(0,4)]}),
        pd.DataFrame({'X':["string0","string1","string2","string3","string4"]}),
    ],
    ie_funcs=[
        ['yield_range',yield_range,[int],[int]],
        ['yield_range_span',yield_range_span_no_tuple,[int],[Span]],
        ['yield_range_str',yield_range_str,[int],[str]]
    ],
)

'?test_range(X)'

   X
0  0
1  1
2  2
3  3
4  4

'?test_range_span(X)'

       X
0  [0,0)
1  [0,1)
2  [0,2)
3  [0,3)
4  [0,4)

'?test_range_str(X)'

         X
0  string0
1  string1
2  string2
3  string3
4  string4

In [ ]:
# TODO add tests for ie functions from stdlib, do this only for the ones we leave in the final demo version