In [ ]:
#| hide
from nbdev.showdoc import show_doc

%load_ext autoreload
%autoreload 2

In [ ]:
#| output: false
import numpy as np
import tempfile
from pandas import DataFrame
from pathlib import Path
import pandas as pd

from spannerlib.utils import checkLogs
from spannerlib.span import Span
from spannerlib.session import Session,test_session

In [ ]:
test_session(
    """
    new uncle(str, str)
    uncle("bob", "greg")
    ?uncle(X,Y)
    """,
    pd.DataFrame(data={"X": ["bob"], "Y": ["greg"]})
)

'?uncle(X,Y)'

     X     Y
0  bob  greg

In [ ]:
test_session(
    [
    """
    new lecturer(str, str)
    lecturer("walter", "chemistry")
    lecturer("linus", "operation systems")
    lecturer("rick", "physics")

    new enrolled(str, str)
    enrolled("abigail", "chemistry")
    enrolled("abigail", "operation systems")
    enrolled("jordan", "chemistry")
    enrolled("gale", "operation systems")
    enrolled("howard", "chemistry")
    enrolled("howard", "physics")

    enrolled_in_chemistry(X) <- enrolled(X, "chemistry")
    ?enrolled_in_chemistry("jordan")
    """,
    """
    ?enrolled_in_chemistry("gale")
    """,
    """
    ?enrolled_in_chemistry(X)
    """,
    """
    enrolled_in_physics_and_chemistry(X) <- enrolled(X, "chemistry"), enrolled(X, "physics")
    ?enrolled_in_physics_and_chemistry(X)
    """,
    """
    lecturer_of(X, Z) <- lecturer(X, Y), enrolled(Z, Y)
    ?lecturer_of(X, "abigail")
    """,
    """
    gpa_str = "abigail 100 jordan 80 gale 79 howard 60"
    gpa_of_chemistry_students(Student, Grade) <- \
        py_rgx_string(gpa_str, "(\w+).*?(\d+)")->(Student, Grade), enrolled_in_chemistry(Student)
    ?gpa_of_chemistry_students(X, "100")
    """],
    [
        True,
        False,
        pd.DataFrame(data={"X": ["howard", "jordan", "abigail"]}),
        pd.DataFrame(data={"X": ["howard"]}),
        pd.DataFrame(data={"X": ["linus", "walter"]}),
        pd.DataFrame(data={"X": ["abigail"]}),
    ]
)

'?enrolled_in_chemistry("jordan")'

True

'?enrolled_in_chemistry("gale")'

False

'?enrolled_in_chemistry(X)'

         X
0  abigail
1   jordan
2   howard

'?enrolled_in_physics_and_chemistry(X)'

        X
0  howard

'?lecturer_of(X,"abigail")'

        X
0  walter
3   linus

'?gpa_of_chemistry_students(X,"100")'

         X
0  abigail

In [ ]:
test_session(
    ["""
    jsonpath_simple_1 = "foo[*].baz"
    json_ds_simple_1  = "{'foo': [{'baz': 1}, {'baz': 2}]}"
    simple_1(X) <- JsonPath(json_ds_simple_1, jsonpath_simple_1) -> (X)
    ?simple_1(X)
    ""","""
    jsonpath_simple_2 = "a.*.b.`parent`.c"
    json_ds_simple_2 = "{'a': {'x': {'b': 1, 'c': 'number one'}, 'y': {'b': 2, 'c': 'number two'}}}"
    simple_2(X) <- JsonPath(json_ds_simple_2, jsonpath_simple_2) -> (X)
    ?simple_2(X)
    ""","""
    json_ds_advanced  = "{'foo': [{'baz': 1}, {'baz': {'foo': [{'baz': 1}, {'baz': 2}]}}]}"
    advanced(X) <- JsonPath(json_ds_advanced, jsonpath_simple_1) -> (X)
    ?advanced(X)
    """],
    [
        pd.DataFrame(data={"X": ['2', '1']}),
        pd.DataFrame(data={"X": ["number two", "number one"]}),
        pd.DataFrame(data={"X": ['1','''{'foo': [{'baz': 1}, {'baz': 2}]}''']})
    ]
)

'?simple_1(X)'

   X
0  1
1  2

'?simple_2(X)'

            X
0  number one
1  number two

'?advanced(X)'

                                   X
0                                  1
1  {'foo': [{'baz': 1}, {'baz': 2}]}

In [ ]:
# TODO redo this once we redo the tutorial